@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: 'Nunito', sans-serif;
}
#home-bg{
    background-image: url(file:///C:/Users/User/Pictures/zuri%20cdt%20img-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}